<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>User Login</title>
</head>
<body>

	<a href="http://localhost:8080/AddStore">Add Store</a>
	<p></p>
	
	<a href="http://localhost:8080/ShowAllProducts">View Products </a>
	
	<p></p>
	<a href="http://localhost:8080/ShowAllBrands">View Brands </a>
	
	<p></p>
	<a href="http://localhost:8080/AddStoreProduct">Add Product </a>
	
	<p></p>
	<a href="http://localhost:8080/SearchProduct">Search Product</a>
	
	

</body>
</html>